#homePage{
  background: url("assets/img/homePage/homePageBack.gif") center;
  background-size :cover;
}

#mainPic{
  background: url("assets/img/homePage/Flower Shoes Logo.png") center;
  background-size :cover;
}

#navPic{
  background: url("assets/img/homePage/neon-glowing-sport-sneakers-icon-isolated-dark-background-sport-shoes-generated-ai_946670-88.jpg") center;
  background-size :cover;
}

#rootPage{
  background: url("assets/img/root/wallpaper.png") center;
  background-size :cover;

}

#nameTag{
  background: url("assets/img/root/nameTag.png") center;
  background-size :cover;
}

.form{
  background: url("assets/img/root/blured.png") center;
  background-size : cover;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(80%);
}

#signPage{
  background: url("assets/signPage.gif") center;
  background-size :cover;
}

.swal-modal {
  background-color: rgb(26, 26, 26);
  border: 3px solid #3d012b;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.70);
}

.swal-text {
  color: #ffffff;
  font-size: 20px;
}

.swal-title {
  color: #ffffff;
  font-size: 30px;
}

.swal-button {
  color: #ffffff;
  background-color: #4d0131;
}

.swal-button:hover {
  background-color: #720240 !important;
}

.custom-cancel-btn{
  color: #ffffff;
  background-color: #340606;
}

.custom-cancel-btn:hover{
  background-color: #731010 !important;
}

.swal-icon--success:after, .swal-icon--success:before, .swal-icon--success__hide-corners{
  display: none;
}
