#homePage{
  background: url("assets/img/homePage/homePageBack.gif") center;
  background-size :cover;
}

#mainPic{
  background: url("assets/img/homePage/Flower Shoes Logo.png") center;
  background-size :cover;
}

#navPic{
  background: url("assets/img/homePage/neon-glowing-sport-sneakers-icon-isolated-dark-background-sport-shoes-generated-ai_946670-88.jpg") center;
  background-size :cover;
}

#root{
  background: url("assets/img/root/wallpaper.png") center;
  background-size :cover;

}

#nameTag{
  background: url("assets/img/root/nameTag.png") center;
  background-size :cover;
}

#form{
  background: url("assets/img/root/blured.png") center;
  background-size : cover;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(80%);
}

